extend base

block base
    .container
        .row
            //- .col
            //-     ul.nav
            //-         li.nav-item
            //-             a.nav-link(href="/account/dashboard") Dashboard
            //-         li.nav-item
            //-             a.nav-link(href="/account/mybuilds") My Builds
            //-         li.nav
            //-             a.nav-link(href="/account/settings") Settings
            //-         li.nav-item
            //-             a.nav-link(href="/account/logout") Logout
            
            .col
                h2 My Account
                hr