extend layout

block content
    h2 Home Page
    p Wassup, nerds
    
    //- h3 Classes
    //-     ul
    //-         each pfclass in classes
    //-             li
    //-              -  var classUrl = '/classes/' + pfclass.className
    //-              a(href=classUrl)= pfclass.className
    
    