header.header
  .container
    .row.d-flex.align-items-center.justify-content-between
      .col.col-auto
          img.header-logo(src="/images/pathfinder logo.png" alt="Pathfinder Logo")
      .col.col-auto
        ul.nav
          li.nav-item
            a.nav-link.active(href='/account/dashboard') Dashboard
          li.nav-item
            a.nav-link(href="/account/mybuilds") My Builds
          li.nav-item
            a.nav-link(href='/account/settings') Settings
          li.nav-item
            a.nav-link(href='/account/logout') Logout
