header.header
  .container
    .row.d-flex.align-items-center.justify-content-between
      .col.col-auto
          h5 Corny Movie Logo
      .col.col-auto
        ul.nav
          li.nav-item
            a.nav-link.active(href='/account/dashboard') Dashboard
          li.nav-item
            a.nav-link(href="/account/mybuilds") My Favorites
          li.nav-item
            a.nav-link(href='/account/settings') To Watch List
          li.nav-item
            a.nav-link(href='/account/settings') Settings
          li.nav-item
            a.nav-link(href='/account/logout') Logout
