header.header
  .container
    .row.d-flex.align-items-center.justify-content-between
      .col.col-auto
          h5 Corny Movie Logo
      .col.col-auto
        ul.nav
          li.nav-item
            a.nav-link.active(href='/') Home
          li.nav-item
            a.nav-link(href="/explore") Explore
          li.nav-item
            a.nav-link(href='/about/us') About Us
          li.nav-item
            a.nav-link(href='/contact') Contact
          li.nav-item
            a.nav-link(href="/account/login") Login